.funcionalidades {
    position: relative;
    background-image: url(/img/capa.png);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcionalidades::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 69, 255, 0.53), rgba(87, 23, 190, 0.62));
    z-index: 1;
}

.funcionalidades-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    z-index: 2;
}

.funcionalidades-conteudo-texto {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 480px;
}

.funcionalidades-conteudo-texto-titulo, .funcionalidades-conteudo-texto-subtitulo, .funcionalidades-conteudo-texto-paragrafo {
    font-family: 'Montserrat', sans-serif;
}

.funcionalidades-conteudo-texto-titulo {
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.funcionalidades-conteudo-texto-subtitulo {
    color: #AEEDDF;
    font-size: 22px;
    font-weight: 700;
}

.funcionalidades-conteudo-texto-paragrafo {
    color: white;
    font-size: 16px;
}

#funcionalidades-conteudo-imagens {
    display: flex;
    gap: 40px;
}

#funcionalidades-conteudo-img-um, #funcionalidades-conteudo-img-dois {
    width: 50%;
}

#funcionalidades-conteudo-img-um{
    transform: rotate(10deg) translateY(-90px);
    display: block;
}

#funcionalidades-conteudo-img-dois{
    transform: rotate(10deg) translateY(50px);
}


@media (max-width: 1280px) {
    #funcionalidades-conteudo-img-um, #funcionalidades-conteudo-img-dois {
        width: 50%;
    }
    
    #funcionalidades-conteudo-img-um{
        transform: rotate(10deg) translateY(-100px) translateX(10px);
    }

    #funcionalidades-conteudo-img-dois{
        transform: rotate(10deg) translateY(60px) translateX(10px);
    }
}
